<%= form_for(@cookie) do |f| %>
  <% if @cookie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cookie.errors.count, "error") %> prohibited this cookie from being saved:</h2>

      <ul>
      <% @cookie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :zombie %><br />
    <%= f.text_field :zombie %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
