<h1>Listing postinfos</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Zombie</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @postinfos.each do |postinfo| %>
  <tr>
    <td><%= postinfo.data %></td>
    <td><%= postinfo.zombie %></td>
    <td><%= link_to 'Show', postinfo %></td>
    <td><%= link_to 'Edit', edit_postinfo_path(postinfo) %></td>
    <td><%= link_to 'Destroy', postinfo, :data => {confirm: 'Are you sure?'}, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Postinfo', new_postinfo_path %>
